allow system_app { proc_pagetypeinfo sysfs_zram }:file r_file_perms;
allow system_app { sysfs_zram sysfs_vibrator sysfs_kcal charging_limiter_sysfs }:dir search;
allow system_app { sysfs_vibrator sysfs_kcal charging_limiter_sysfs }:file rw_file_perms;
